@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.bg-image{
  background: url(./assets/blue-wall-background.jpg);
}

.example::-webkit-scrollbar {
  display: none;
}